---
import { FAQ_ITEMS } from "../../config/site";
import { FAQ_CONTENT } from "../../config/home";
import AccordionItem from "../ui/AccordionItem.astro";
---

<section id="faq" class="section-padding bg-white">
  <div class="max-w-3xl mx-auto">
    <div class="text-center mb-14 reveal">
      <h2 class="mb-4">Frequently asked questions</h2>
    </div>
    {
      FAQ_ITEMS.map((item, i) => (
        <AccordionItem question={item.question} id={`faq-${i}`}>
          {item.answer}
        </AccordionItem>
      ))
    }
  </div>
</section>
