name: build blogs static files

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-blogs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
          cache-dependency-path: "scripts/go.sum"

      - name: Build blogs
        run: |
          make build
